{% extends 'user/base.html' %}


{% block head %}
    <title>Sign In</title>
{% endblock %}
{% block content %}
    <div class="card" style="max-width: 450px;margin: 100px auto;">
        <div class="card-header text-center" style="background: gold">Password Reset Complete</div>
        <div class="card-body">
           <p class="text-center text-success lead">Your password has been successfully reset, you can now sign in.</p>
            <a href="{% url 'user:signin' %}" class="btn btn-block btn-outline-dark">Go To Sign In Page</a>   
        </div>         
    </div>
{% endblock %}