{% extends 'user/base.html' %}


{% block head %}
    <title>Sign In</title>
{% endblock %}
{% block content %}
    <div class="card" style="max-width: 450px;margin: 100px auto;">
        <div class="card-header text-center" style="background: gold">Reset Password</div>
        <div class="card-body">
            <form action="." method="post">
               {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                    {{ form.new_password1 }}
                    <span class="form-text muted small">Your new password should be at least 8 words long.</span>
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                    {{ form.new_password2 }}
                    <span class="form-text muted small">Enter the same password as before, for verification.</span>
                </div>
                <button class="btn btn-outline-dark btn-block">Reset Password</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        // Add Bootstrap classes to the input fields
        $('#id_new_password1').attr('class','form-control');
        $('#id_new_password2').attr('class','form-control');
        
    </script>
{% endblock %}