{% extends 'user/base.html' %}


{% block head %}
    <title>Sign In</title>
{% endblock %}
{% block content %}
   {% if messages %}
       {% for message in messages %}
           <p class="alert alert-success">{{message}}</p>
       {% endfor %}
   {% endif %}
    <div class="card" style="max-width: 450px;margin: 100px auto;">
        <div class="card-header text-center" style="background: gold">Sign in</div>
        <div class="card-body">
            <form action="." method="post">
               {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                    {{ form.password }}
                </div>
                <a href="{% url 'password_reset' %}" style="display: block;margin: 2px auto;" class="small muted text-right">Forgot Password</a><br/>
                <button class="btn btn-outline-dark btn-block">Sign In</button>
                <p class="text-center small text-muted" style="margin: 2px auto;">Need An Account? <a href="{% url 'user:signup' %}">Sign Up</a></p>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        // Add Bootstrap classes to the input fields
        $('#id_username').attr('class','form-control')
        $('#id_password').attr('class','form-control')
    </script>
{% endblock %}