{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'landing\bootstrap.min.css' %}"/>
    <style>
        nav{
            background-color: royalblue;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-md navbar-dark navbar-outline-dark">
          <a class="navbar-brand" href="{% url 'landing:home' %}"><h5>What's Your Need</h5></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
           <!-- Form Section -->
            <form action="{% url 'landing:search' %}" class="form-inline my-2 my-lg-0" style="width: calc(100% - 250px)">
              <input class="form-control mr-sm-2 mr-2" type="search" placeholder="Search for goods.." name="q" style="width: calc(100% - 90px)">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            <!-- User Section -->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
               <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="{% static 'landing\images\man-user.png' %}"/>
                      {% if user.is_authenticated %}
                        Hi {{ user.username }}
                      {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     {% if user.is_authenticated %}
                          <a class="dropdown-item" href="{% url 'user:profile' %}">Profile</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a>
                      {% else %}
                          <a class="dropdown-item" href="{% url 'user:signin' %}">Login</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'user:signup' %}">Register</a>
                      {% endif %}
                    </div>
                </li>
                <!-- Basket Section -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'landing:cart' %}" style = "position: relative">
                       <span style="position: absolute;left: 18px;top: 2px;" class="badge badge-light" id="basket-items">
                           {% if user.is_authenticated %}
                               {{user.usercartitems_set.count}}
                           {% else %}
                                0
                           {% endif %}
                       </span>
                        <img src="{% static 'landing\images\shopping-cart.png' %}" alt="">
                    </a>
                  </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
    <script src="{% static 'landing\jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'landing\bootstrap.min.js' %}"></script>
    <script>
        let form = $('form');
        let searchBar = $('input[type = "search"]');
        let navBar = $('nav');
        // Changes the width of the form and input field when it reaches a certain level
        if( window.innerWidth < 767 ){
                form.css('width','auto');
            }
            else{
                form.css('width','calc(100% - 100px)');
            }
        
        window.onresize = () => {
            if( window.innerWidth < 767 ){
                form.css('width','auto');
            }
            else{
                form.css('width','calc(100% - 100px)');
            }
//            console.log(window.innerWidth)
        }
        
        // Create a function that adds a product to the user's cart
        let addProductTocart = () => {
            $('.add-product').click(function(){
                if($(this).text() !== "Added"){
                    let productId = $(this).attr('id');
                    $.ajax({
                        url: "{% url 'landing:add_to_cart' %}",
                        data: {
                            "product_id": productId,
                        },
                        dataType: "json",
                        success: function(data){
                            $('#basket-items').text(data['total_basket_items']);
                        }
                    })
                    $(this).text("Added");
                    $(this).attr("class","btn btn-primary btn-block btn-sm disabled");
                }
            })
        }
        addProductTocart(); // Invoke
    </script>
    </script>
    {% block javascript %}
    {% endblock %}
</body>
</html>